@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Wet+Paint&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}

:root {

  --secundary-color: hsl(0, 0%, 24%);
}

body {
  width: 100%;
  height: 100vh;
  color: white;
  font-family: ' Bebas Neue', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, white, black);
}

#pokedex-img {
  position: absolute;
}

.container , main , .poke-info , .poke-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

p , span {
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.3);
}

main {
  box-sizing: content-box;
  padding: 20px;
  height: 580px;
  border-radius: 10px;
}

.poke-card , .poke-list {
  border-radius: 5px;
  z-index: 10;
  border: rgba(0, 0, 0, 0.5) 1px solid;
  height: 90%;
}

.poke-card {
  background: var(--secundary-color);
  margin-right: 4px;
  width: 320px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

.poke-list {
  width: 220px;
  padding: 2px 0;
  background: var(--secundary-color);
  scrollbar-width: none;
}

.poke-list ul {
  height: 100%;
  overflow: auto;
}

.poke-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 15px;
  margin: 10px 0;
  font-size: 1.2rem;
}

.poke-list img {
  width: 70px;
  object-fit: cover;
}

.selected {
  transition: 0.5s;
  background: linear-gradient(to bottom, rgb(109, 109, 109), rgb(153, 153, 153));
}

.card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
  background: radial-gradient(hsl(39, 67%, 70%), hsl(39, 63%, 53%));
  border-radius: 3px 3px 40px 40px;
  padding: 20px;
  font-size: 1.2rem;
}

#poke-id {
  font-size: 1.2rem;
}

#poke-image img {
  width: 180px;
  object-fit: cover;
}

@keyframes fade {

  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.poke-info {
  flex-direction: column;
}

#poke-types {
  display: flex;
  justify-content: center;
  width: 70%;
}

.poke-type {
  min-width: 30%;
  width: auto;
  padding: 2px 3px;
  margin: 2% 5px;
  border-radius: 2px;
  text-align: center;
  font-size: 0.8rem;
}

.card-bottom {
  color: white;
  padding: 20px;
}

#poke-name {
  font-size: 1.8rem;
  color: hsl(0, 0%, 81%);
}

.card-bottom h3 {
  font-style: bold;
  text-align: center;
  font-size: 1rem;
  padding: 4px;
  margin: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.card-bottom li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  height: 14px;
  padding: 0 10px;
}

.poke-list li:hover {
  transition: 0.5s;
  background: hsla(0, 0%, 43%, 0.3);
}

#total {
  margin: 8px 0;
  justify-content: center;
}

.percent-bar {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  width: 87%;
  height: 100%;
}

.percent-progress {
  transition: 0.3s;
  width: 0;
  height: 100%;
  padding-right: 10px;
  border-radius: 6px;
  text-align: right;
}

.card-bottom li:nth-child( 2 ) .percent-progress {
  background: hsla(130, 41%, 49%, 0.8);
}

.card-bottom li:nth-child( 3 ) .percent-progress {
  background: hsla(0, 100%, 30%, 0.8);
}

.card-bottom li:nth-child( 4 ) .percent-progress {
  background: hsla(231, 100%, 30%, 0.8);
}

.card-bottom li:nth-child( 5 ) .percent-progress {
  background: hsla(91, 85%, 43%, 0.9);
}

.Normal {
  background: radial-gradient(circle, rgba(93,91,91,1) 27%, rgba(200,33,214,1) 100%);
}

.Fogo {
  background: radial-gradient(hsl(7, 94%, 30%), hsl(5, 95%, 67%));
}

.Agua {
  background: radial-gradient(hsl(205, 88%, 29%), hsl(208, 70%, 57%));
}

.Eletrico {
  background: radial-gradient(circle, rgba(237,238,88,1) 7%, rgba(221,194,84,1) 67%);
}

.Grama {
  background: radial-gradient(hsl(107, 93%, 30%), hsl(99, 95%, 67%));
}

.Gelo {
  background: radial-gradient(circle, rgba(88,217,238,1) 7%, rgba(93,130,246,1) 67%);
}

.Lutador {
  background: radial-gradient(circle, rgba(129,90,32,1) 18%, rgba(222,16,16,1) 73%);
}

.Venenoso {
  background: radial-gradient(circle, rgba(83,83,83,1) 0%, rgba(133,14,244,1) 44%);
}

.Terrestre {
  background: radial-gradient(circle, rgba(156,127,49,1) 7%, rgba(195,169,63,1) 67%);
}

.Voador {
  background: radial-gradient(circle, rgba(184,184,184,1) 0%, rgba(94,211,233,1) 44%);
}

.Psiquico {
  background: radial-gradient(circle, rgba(184,184,184,1) 0%, rgba(181,101,255,1) 44%);
}

.Inseto {
  background: radial-gradient(circle, rgba(99,218,115,1) 4%, rgba(180,40,207,1) 100%);
}

.Pedra {
  background: radial-gradient(circle, rgba(136,132,123,1) 4%, rgba(73,67,74,1) 100%);
}

.Fantasma {
  background: radial-gradient(circle, rgba(36,34,34,1) 0%, rgba(104,24,215,1) 100%);
}

.Dragao {
  background: radial-gradient(circle, rgba(166,185,11,1) 0%, rgba(170,70,33,1) 100%);
}

.Metalico {
  background: radial-gradient(circle, rgba(182,182,182,1) 0%, rgba(135,135,135,1) 100%);
}

.Fada {
  background: radial-gradient(circle, rgba(190,190,190,1) 0%, rgba(215,87,226,1) 100%);
}
